<div class="row header">    
</div>
<div class="row">
    <div class="col-xs-3 col-sm-3 col-md-6 col-lg-6">
        <h2>Modesto</h2>
        <p>1150 9th Street, Suite #1415</p>
        <p>Modesto, CA 95354</p>
        <p>phone: (209) 846-9938</p>
    </div>

    <div class="col-xs-9 col-sm-9 col-md-6 col-lg-6 contact-element">
        <form>
            <div class="row">
                <div class="col-xs-12">
                    <h2>Contact Form</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" placeholder="Name" size="100%">
                </div>  
            </div>
            
            <div class="row">
                <div class="col-xs-12">
                    <label for="email">Email</label>
                    <input type="text" id="email" class="form-control" placeholder="Email" size="100%">
                </div>  
            </div>
            
            <div class="row">
                <div class="col-xs-12">
                    <label for="subject">Subject</label>
                    <input type="text" id="subject" class="form-control" placeholder="Subject" size="100%">
                </div>  
            </div>
            
            <div class="row">
                <div class="col-xs-12">
                    <label for="message">Message</label>
                    <textarea id="message" class="form-control" rows="12" placeholder="Please include as much detail as possible." cols="100%"></textarea>
                </div>  
            </div>
            
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-light">Send Message</button>
                </div>  
            </div>
        </form>
    </div>
</div>