<div class="row header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <br/>
        <h2>About Pezzoni Engineering</h2>
                <p>
                  Pezzoni Engineering is a progressive electrical engineering firm dedicated to constantly providing our clients with
                  high quality and timely service.  We offer a complete range of electrical engineering services, the scope of which
                  includes electrical engineering from the preliminary study phase through project construction administration.  Specialties
                  include power, controls, lighting, information technologies, communications, and instrumentation systems design; energy
                  management and value engineering services.  Our project experience spanning 37 years encompasses a thorough cross-section
                  of the industry.  We were formerly Miller-Pezzoni and Associates, Inc. and look forward to the continued reputation and
                  outstanding relationships with our clients for the coming years.
                </p>

                <p>
                  Our Modesto-based staff consists of a team of highly skilled professional personnel with many years of combined
                  engineering experience sharing a deep commitment for client satisfaction through engineering excellence.  Our present
                  staff consists of 1 registered engineer, 1 project manager, 1 senior designer, and 2 drafters.  Our competent team of
                  engineers, designers, CAD operators, and administrative personnel work closely together to provide a full-service
                  engineering services tailored to specific client/project needs.
                </p>

                <p>
                    Pezzoni Engineering incorporates state-of-the-art design techniques based upon practical and cost effective solutions
                    which streamline our design and generate savings to the client. Our results-oriented approach ensures client satisfaction
                    while our commitment to staying up-to-date with technology and the latest LEED™ Design Standards and other energy efficient
                    design techniques enables us to utilize proven methods and materials on every project.
                </p>

    </div>
</div>
<h2>Principal</h2>
<div class="row header">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <img class="bio" src="../../assets/images/kevin.jpg" alt="Kevin Pezzoni, President">
        <h6 class="bio">Kevin L. Pezzoni, P.E.</h6>
        <p class="bio"><b>President</b></p>
        <p>
          Kevin Pezzoni is a Registered Professional Electrical Engineer in the States of California, Arizona and Nevada and is President
          of Pezzoni Engineering.  He has over 20 years of experience comprised of 12 years as a principal.  Mr. Pezzoni’s
          extensive experience in the design of complex electrical systems spans 20 years, with a specialty in healthcare, critical infrastructure,
          commercial and related facilities engineering. This extensive design experience along with his experience in project management has
          enabled Mr. Pezzoni to develop techniques to streamline the design and approval process while designing cost effective and energy
          efficient systems.
        </p>
        <p>
          After Graduating from California Polytechnic State University, San Luis Obispo in 1996, Mr. Pezzoni continued his career as a designer
          for Gregg E. Miller & Associates.  In 2002 he became a principal in the firm, now known as Miller-Pezzoni & Associates, Inc.
          Now in 2019 Mr. Pezzoni will proceed to continue the quality of service its clients received from Miller Pezzoni & Associates into
          Pezzoni Engineering.
        </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <h6>Education</h6>
      <ul>
        <li>California Polytechnic State University, San Luis Obispo</li>
        <li>B.S. Aeronautical Engineering - 1996</li>
      </ul>
      <ul>
        <li>California Polytechnic State University, San Luis Obispo</li>
        <li>M.S. Electrical Engineering - incomplete</li>
      </ul>

      <h6>Registered Electrical Engineer</h6>
      <ul>
        <li>California No. 16269, 2000</li>
        <li>Arizona No. 53663, 2012</li>
        <li>Nevada No. 021846, 2012</li>
      </ul>

      <h6>Professional Associations</h6>
      <ul>
        <li>Institute of Electrical and Electronics Engineers</li>
        <li>National Society of Professional Engineers</li>
        <li>National Fire Protection Association Building</li>
        <li>Industry Consulting Service International</li>
      </ul>

      <h6>Experience</h6>
      <ul>
        <li>Pezzoni Engineering, Inc.</li>
        <li>President:  Feb. 2019 - Present</li>
      </ul>
      <ul>
        <li>Miller-Pezzoni & Assoc., Inc.</li>
        <li>Vice President:  2002 - Feb. 2019</li>
      </ul>
      <ul>
        <li>Gregg E. Miller & Assoc., Inc.</li>
        <li>Drafter/Designer:  1993 - 2002</li>
      </ul>
    </div>
</div>
<!-- <div class="row header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <br/>
        <h2>Careers with Pezzoni Engineering</h2>
    </div>
</div> -->
