<div class="row header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>About Pezzoni Engineering</h2>
                <p>
                    Pezzoni Engineering is a progressive electrical engineering firm dedicated to providing our clients with high quality 
                    and timely solutions to difficult problems. We offer a complete range of electrical engineering services from the 
                    preliminary study phase through project construction administration. Our specialties include power systems, lighting, 
                    information technology, communications, security, fire alarm and controls systems design, energy management and value 
                    engineering services. We have 29 years of project experience across a thorough cross-section of the industry. Browse 
                    our projects resume for more examples from our extensive project list.
                </p>

                <p>
                    Our staff is made up of highly skilled professional and sub-professional personnel with many years of combined engineering 
                    experience and a deep commitment to client satisfaction and engineering excellence. Current staff includes four registered 
                    professional electrical engineers overseeing an array of skilled design personnel in three full service offices across 
                    California. Our competent and practical team of engineers, designers, CAD operators and administrative personnel work 
                    together to provide full service engineering solutions suited to specific client and project needs, consistently delivered 
                    on time every time.
                </p>

                <p>
                    Pezzoni Engineering incorporates state-of-the-art design techniques based upon practical and cost effective solutions 
                    which streamline our design and generate savings to the client. Our results-oriented approach ensures client satisfaction 
                    while our commitment to staying up-to-date with technology and the latest LEED™ Design Standards and other energy efficient 
                    design techniques enables us to utilize proven methods and materials on every project.
                </p>
                
    </div>
</div>
