<div class="row recipes">
  <div class="col-md-5 ">
    <!-- <app-recipe-list (recipeWasSelected)="selectedRecipe = $event"></app-recipe-list> -->
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
    <!-- This can all be replaced by recipe-start Child component
    <app-recipe-detail 
      *ngIf="selectedRecipe; else infoText" 
      [recipeDetail]="selectedRecipe">
    </app-recipe-detail>
    <ng-template #infoText>
      <p>Please select a recipe</p>
    </ng-template> -->
  </div>
</div>

  